"VAR_Apache24_WIN_localpkg_src": {{ VAR_Apache24_WIN_localpkg_src }}
"VAR_Apache24_WIN_localpkg_dst": {{ VAR_Apache24_WIN_localpkg_dst }}
"VAR_Apache24_WIN_path": {{ VAR_Apache24_WIN_path }}
"VAR_Apache24_WIN_localpkg_VC_file": {{ VAR_Apache24_WIN_localpkg_VC_file }}
"VAR_Apache24_WIN_localpkg_Apache_file": {{ VAR_Apache24_WIN_localpkg_Apache_file }}